language: java
sudo: false

jdk:
  - oraclejdk8

cache:
  directories:
    - ${HOME}/.m2

branches:
  only:
    - "ibm-0.1"
    - /[0-9]+.[0-9]+.[0-9]+/

env:
  global:
    - RELEASE_REGEX=[0-9]+.[0-9]+.[0-9]+
  matrix:
    - MODULE='janusgraph-berkeleyje'
    - MODULE='janusgraph-cassandra'
    - MODULE='janusgraph-cql'
    - MODULE='janusgraph-es' ARGS='-DthreadCount=1'
    - MODULE='janusgraph-hadoop-parent/janusgraph-hadoop-2'
    - MODULE='janusgraph-hbase-parent/janusgraph-hbase-098'
    - MODULE='janusgraph-hbase-parent/janusgraph-hbase-10'
    - MODULE='janusgraph-lucene' ARGS='-DthreadCount=1'
    - MODULE='janusgraph-release'
    - MODULE='janusgraph-server'
    - MODULE='janusgraph-solr' ARGS='-DthreadCount=1'
    - MODULE='janusgraph-test'

matrix:
  # https://docs.travis-ci.com/user/customizing-the-build#Rows-that-are-Allowed-to-Fail
  allow_failures:
    # Non-deterministic: can pass or fail, regardless of any relevant changes.
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/198165185
    - env: MODULE='janusgraph-berkeleyje'

    # Currently broken due to too many log statements (exceeds 4MB)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197472452
    - env: MODULE='janusgraph-cassandra'

    # Currently broken due to too many log statements (exceeds 4MB)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197472453
    - env: MODULE='janusgraph-es' ARGS='-DthreadCount=1'

    # Currently broken due to too many log statements (exceeds 4MB)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197672947
    - env: MODULE='janusgraph-hadoop-parent/janusgraph-hadoop-2'

    # Currently broken due to timeout (runs longer than 50min)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197672951
    - env: MODULE='janusgraph-hbase-parent/janusgraph-hbase-098'

    # Currently broken due to timeout (runs longer than 50min)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197672952
    - env: MODULE='janusgraph-hbase-parent/janusgraph-hbase-10'

    # Currently broken due to too many log statements (exceeds 4MB)
    # https://travis-ci.org/JanusGraph/janusgraph/jobs/197427609
    - env: MODULE='janusgraph-solr' ARGS='-DthreadCount=1'

addons:
  apt:
    packages:
      - oracle-java8-installer

# A Release Branch of the form #.#.# will only build a tar file
# and deploy to S3.  Our process will be such that we'll review
# the latest integration build for test results and
# merge nto the release branch. A build will be kicked off to
# build the tar file.
script:
  - if [[ ${TRAVIS_BRANCH} =~  ${RELEASE_REGEX} ]]; then
      if [ "${MODULE}" == "janusgraph-release" ]; then
        echo "Creating tar file called janusgraph_ibm_${TRAVIS_BRANCH}.tgz";
        mkdir release;
        tar -cvzf release/janusgraph_ibm_${TRAVIS_BRANCH}.tgz bin conf lib;
      fi;
    elif [ "${MODULE}" != "janusgraph-release" ]; then
       mvn install -DskipTests=true -B -pl ${MODULE} -am;
       mvn verify -pl ${MODULE} ${ARGS};
    fi

# Create a tar file only if we're releasing on a release branch
deploy:
  provider: s3
  access_key_id: 'AKIAJNO3BSVBBC7DMC5Q'
  secret_access_key:
    secure: l9EFiHc/JohTCLqtkGCcupLeWV1Hihg45pLibivM9C11NeoSCM0MdhvVNiDIUpJvdHUwEMKQeEjqh5n/TEj8y/VlsLdFSG/U9JdYewpDow5EyhIeYZDpp0zwfjrxIPftdPx7dho/haIPKdzCps1TAYQOZYDkvaVLL/Fej2G2sHT0Ejtrtwrt4aTyVwQGTvsCBffR87rFRg6Z9suY60vR/isexsBs7LziVD4nNUgoWJeKGEhhHYr57xpnnKyZ6T9QBAbrmOe0TdGsgH6r0T1NLfd9cScS8ShxVEUDE4bBrc4+Jlk7t48mFJU7+WtMaqaiLKGJ/UF0sEbJnhg5dkL944APHjG5dQu1FCifUGj5oepBJ+9S5hDwoYEboeSGCD1DPtO19VvZcSYXn+tRCs0/m3seTujJg7/ciy26qRts50lf9LPtOp9J3dT07hVRGYMSzWXf+PHSo3QICJYeF7sw4DAgZKJa2qhksFUL73NZjMWWTER2rMkwFZbJoRT86EjfoZt1lgYkQLbBAQop25ByhYs0GTlnP6n1Qrm5J5mrQlhhm9/QKEV/qm4MM0t40FSG1KcKnpsdRIx42GNRPeBkYcXPhO6LSzecXYiEe13Y7WZ6ARzhXI5EMWqIR7PjlmwOaTBet3pgc28TTdBoPV2kDTtCpXBm3w5D4FxX1Eg8/gY=
  bucket: 'dblayer-builds'
  local_dir: release
  skip_cleanup: true
  on:
    all_branches: true
    condition: "(${TRAVIS_BRANCH} =~ ${RELEASE_REGEX}) && (${MODULE} = janusgraph-release) "

# Syntax and more info: https://docs.travis-ci.com/user/notifications
notifications:
  email:
    - cjquinon@us.ibm.com
  # Notify us of integration build failures only
  slack: 
    rooms:
        - 'compose:UwF0sO1h8oZL3ARHvX19hndE#graphdb'
    on_pull_requests: false
    on_success: never
